<div class="container main-container">
  <div class="row">
    <div class="col-4">
      <label value="" style="margin-top:0.5rem" for="dir">Direccion a la que direccionar el IFRAME</label>
    </div>
    <div class="col-6">
      <input class="form-control" style="width:100%" type="text" [(ngModel)]="direccion" id="dir" name="id">
    </div>
    <div class="col-2">
      <button class="btn" type="button" value="cargar" (click)="cargar()">Cargar</button>
    </div>
  </div>
  <div class="row" *ngIf="evento">
    <div class="col">
      <span value="" style="margin-top:0.5rem; color:red" for="dir">EVENTO RECIBIDO</span>
    </div>
  </div>
  <div class="row" *ngIf="iframe">
    <iframe id="frame" title="contenedor" [src]="sanitizer.bypassSecurityTrustResourceUrl(direccion)" style="width:100%; height:1000px"></iframe>
  </div>

</div>
